@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 초기화 */
*{margin: 0;    padding: 0;    list-style: none;}
a{text-decoration: none;    color: white;}
body{
    color: white;
    font-family: 'NanumSquare', sans-serif;
    background-color: #161616;
    position: relative;
}
body::-webkit-scrollbar{
    width: 1vmin;
}
body::-webkit-scrollbar-thumb{
    background-color: #fe7373;
}
body::-webkit-scrollbar-track{
    background-color: #504f4f;
}
section, footer{width: 100%;}
section{position: relative;}
.h208 ul, .h260 ul{position: absolute;}


/* --------------------------------헤더------------------------------------- */

/* 헤더 전체 */
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 6vw;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.287);
    /* transition: all 0.4s; */
}
/* 좌, 우 div 플렉스화 및 정렬 */
header div{
    display: flex;
    align-items: center;
    text-align: center;
}
header ul{
    display: flex;
    align-items: center;
}


/* 헤더 왼편 */
.logo{
    width: 12vw;
    height: auto;
    margin: 14px 2vmin;

}
/* 네비 메뉴 안 li */
header .nav li{
    color: rgb(148, 148, 148);
    transition: all 0.4s;
    cursor: pointer;
    text-align: center;
    margin: 0px 1.2vmax;
    font-size: 1.2rem;
}
header .nav li:hover{
    padding:0 8px;
    font-size: 1.2rem;
    color: white;
}


/* 헤더 오른편 */
.right__bar{
    font-size: 1vmax;
}
.right__bar img, .right__bar .user:hover{
    color: white;
}
.search__bar{
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    background-color: #312f2f;
    color: rgba(255, 255, 255, 0.712);
    height: 40px;
    opacity: 0%;
    width: 1px;
    transition: all 0.6s;
    margin-right: 10px;
    outline: 2px solid rgb(152, 151, 153);
    padding: 0 10px;
    cursor: default;
}
.search__icon{
    width: 40px;
    height: auto;
    margin-right: 2vmin;
    cursor: pointer;
}
.user{
    width: 4vw;
    margin-right: 6vmin;
}

#upArrow{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 16px solid #2b2b2bd7;
    position: absolute;
    right: 10%;
    bottom: 100%;
}

.small__layout{
    position: absolute;
    top: 96%;
    right: 2.9vw;
    width: 200px;
    height: 180px;
    /* border: 1px solid red; */
    background-color: #2b2b2bd7;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
}
#profile__icon{
    cursor: pointer;
}
#profile{
    /* background-color: tomato; */
    padding-top: 10px;
    height: 39%;
    width: 100%;
    font-size: 1rem;
}
#profile__icon > img:hover{
    transform: scale(1.2);
}
#profile__img, #profile__icon{
    margin: 0 8px 0 16px;
    width: 56px;
    height: 56px;
}
#profile__img > img, #profile__icon > img{
    transition: all 0.4s;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}
#acc__menu{
    font-size: 1.1rem;
    /* background-color: yellowgreen; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
#acc__menu > li{
    margin-left: 20px;
    font-size: 0.9em;
    line-height: 30px;
}

.burger__icon{
    display: none;
}
.burger__icon div{
    background-color: white;
    width: 28px;
    height: 2px;
    margin: 6px;
}


/* ------------------------------ 콘텐츠 ------------------------------- */

/* collider */
/* .colliders{
    position: absolute;
}

#recommend__collider{
    outline: 1px solid red;
    width: 100%;
    height: 10%;
    margin-top: 10%;
}
#rank__collider{
    outline: 1px solid blue;
    width: 100%;
    height: 10%;
} */

#top{
    width: 100%;
    height: 100vh;
    background-color: #2b2b2b71;
}
#top > video{
    height: 100%;
    width: 100%;
    background-color: #000;
}
.video__layout{
    width: 171vmin;
    padding-left: 2%;
    display: flex;
    /* outline: 1px solid red; */
}

/* 첫번째 줄 강제 이동 */
#first__section{
    display: flex;
    align-items: flex-end;
    height: 15vh;
}
#first__section h3{
    position: relative;
}

/* 해상도 208인 줄 전체 -------------------------------------------------------------------------------------- */
.h208{
    width: 100%;
    height: 32vh;
    overflow: hidden;
}

/* 각 줄 제목 */
.h208 > h3{
    margin: 4vmin 0 2vmin 2%;
    color: white;
    font-size: 1.3rem;
}

/* 영상들 */
.h208__video{
    margin-right: 1vmin;
    /* background-color: olive; */
    width: 27.5vmin;
    height: 20.8vmin;
    border-radius: 0.6vmin;
}
.video__item{
    position: relative;
    overflow: hidden;
}
.thumbnail{
    position: absolute;
    width: 100%;
}
.title__layout{
    transition: all 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000a4;
    color: #fff;
    opacity: 0;
}
.title__layout > h3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    position: absolute;
    left: -5%;
}

/* 해상도 260인 줄 전체 --------------------------------------------------------------------------------------- */
.h260{
    width: 100%;
    height: 37vh;
    overflow: hidden;
}

/* 각 줄 제목 */
.h260 > h3{
    margin: 5vmin 0 2vmin 2%;
    color: white;
    font-size: 1.3rem;
}

/* 영상들 */
.h260__video{
    margin-right: 1vmin;
    /* background-color: orange; */
    width: 27.5vmin;
    height: 26vmin;
    border-radius: 0.6vmin;
}

/* 해상도 260 기타 설정 */
.other{
    height: 41vh;
}
#children__HT > h3{
    margin: 13vmin 0 2vmin 2%;
}
#children__HT{
    height: 64vh;
}

/* 랭킹 줄 전체 --- 해상도 : 293 x 210 --------------------------------------------------------------------- */
.rank__layout{
    width: 100%;
    height: 35vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* 각 줄 제목 */
.rank__title{
    margin: 5vmin 0 2vmin 2%;
    color: white;
    font-size: 1.3rem;
}

.rank__div{
    margin: 0 2%;
    width: 96%;
    overflow: auto;
}
.rank__div::-webkit-scrollbar{
    height: 1vmin;
}
.rank__div::-webkit-scrollbar-thumb{
    background-color: #fe7373;
    border-radius: 0.5vmin;
}
.rank__div::-webkit-scrollbar-track{
    background-color: #504f4f;
    border-radius: 0.5vmin;
}
/* 각 줄 영상이 나열될 영역 */
.rank__layout .rank__video__line{
    margin: 0 7vmin 2vmin 6vmin;
    display: flex;
    width: 273vmin;
    /* outline: 1px solid red; */
}
/* 영상들 */
.rank__video{
    margin-right: 1vmin;
    /* background-color: salmon; */
    width: 26.3vmin;
    height: 18.9vmin;
    border-radius: 0.6vmin;
}
.thumb__layout{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thumb__layout img{
    width: 50%;
}

/* 이동 버튼 --------------------------------------------------------------------------------------------- */

/* 이동 버튼 위치 */
.btn__locate{
    width: 100%;
    display: flex;
    justify-content: flex-end; /* 양옆에 배치 */
    /* position: relative; */
}
.h208__btn{
    height: 20.8vmin;
}
.h260__btn{
    height: 26vmin;
}
.rank__btn{
    height: 18.9vmin;
}

/* 이동 버튼 영역 */
.move__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vmin;
    height: 100%;
    z-index: 9;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    border: 0;
    transition: all 0.1s linear;
    cursor: pointer;
}
.move__btn:hover{
    opacity: 100;
}

/* 이동 버튼 화살표 */
.right__arrow{
    margin-left: 0.2vmin;
	border-top: 1.2vmin solid transparent;
	border-bottom: 1.2vmin solid transparent;
    border-left: 2vmin solid white;
    z-index: 10;
}
.left__arrow{
    margin-left: -0.2vmin;
	border-top: 1.2vmin solid transparent;
	border-bottom: 1.2vmin solid transparent;
    border-right: 2vmin solid white;
    z-index: 10;
}

/* ---------------------------영상 영역---------------------------- */
.modal__layout{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    z-index: 99999;
}

/* 모달 내에 영상 재생창 및 영상 정보창 기본 설정 */
#video__player, #infor__content{
    width: 60vw;
    height: 30vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #2b2b2b;
}

/* 영상 iframe 태그 설정 */
#video__player iframe{
    width: 100%;
    height: 100%;
    border: none;
    background-color: black;
}
/* 영상 video 태그 설정 */
#video__player video{
    width: 100%;
    height: 100%;
    background-color: black;
}

#infor__content > h1{
    height: 20%;
}
#infor__content > p{
    height: 50%;
}

/* 나가기 버튼 */
#exit{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 10%;
    /* border: 1px solid red; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.xbar1, .xbar2{
    position: absolute;
    transform: rotate(45deg);
    width: 0.2vw;
    height: 2vw;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0.2vw;
}
.xbar2{
    transform: rotate(-45deg);
}


/* 푸터 -------------------------------------------------------------------------------------------------- */
footer{
    border-top: 3px solid #737373;
    width: 100%;
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer__inner__layout{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer__logo{
    width: 10vw;
}
#footer__menu{
    display: flex;
    align-items: center;
}
#footer__menu > li > select{
    background-color: #161616;
    border: 0;
    color: #737373;
    font-size: 1rem;
}
footer select:focus{
    outline: none;
}
#footer__menu > li{
    margin: 1vmin;
    color: #737373;
}
footer a{
    color: #737373;
}


/* -----------------------media query----------------------- */

/* Laptop S */
@media screen and (max-width: 1024px){
    .nav, .user{
        display: none;
    }
    .burger__icon{
        display: block;
        margin-right: 16px;
    }
    .search__bar{
        height: 2.6vw;
        border-radius: 6px;
    }
    .logo{
        width: 24vw;
        margin: 12px 16px;
        margin-left: 16px;
    }
    .head__layout{
        height: 60vw;
    }
}

/* Tablet */
@media screen and (max-width: 768px){
    .search__bar{
        height: 3vw;
        border-radius: 6px;
    }
    .logo{
        width: 24vw;
        margin: 12px 16px;
        margin-left: 20px;
    }
}

/* Mobile */
@media screen and (max-width: 425px){
    .logo{
        display: none;
    }
    header{
        height: 50px;
    }
    .head__layout{
        height: 120vw;
    }
}