@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

body{
    color: white;
    font-family: 'NanumSquare', sans-serif;
    background-color: #2b2b2b;
}

article, section, footer{
    background-color: #161616;
}

/* 모든 ul 플랙스화 및 중앙으로(?) 정렬 */
ul{
    display: flex;
    align-items: center;
}

/* 클릭 할 글자들의 기본 설정 */
.nav li, footer li{
    color: rgb(148, 148, 148);
    transition: all 0.4s;
    cursor: pointer;
}

/* 헤더와 푸터 안 li들의 간격과 폰트 크기 */
header .nav li, footer li{
    text-align: center;
    margin: 0px 1.2vmax;
    font-size: 1.2rem;
}

/* --------------------------------헤더------------------------------------- */

/* 헤더 전체 */
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 6vw;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.287);
    transition: all 0.4s;
}
/* 좌, 우 div 플렉스화 및 정렬 */
header div{
    display: flex;
    align-items: center;
    text-align: center;
}


/* 헤더 왼편 */
.logo{
    width: 12vw;
    height: auto;
    margin: 14px 2vmin;

}
.nav li:hover{
    padding:0 8px;
    font-size: 1.2rem;
    color: white;
}


/* 헤더 오른편 */
.right__bar{
    font-size: 1vmax;
}
.right__bar img, .right__bar .user:hover{
    color: white;
}
.search__bar{
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    background-color: #312f2f;
    color: rgba(255, 255, 255, 0.712);
    height: 40px;
    opacity: 0%;
    width: 1px;
    transition: all 0.6s;
    margin-right: 10px;
    outline: 2px solid rgb(152, 151, 153);
    padding-left: 10px;
    cursor: default;
}
.search__icon{
    width: 40px;
    height: auto;
    margin-right: 2vmin;
    cursor: pointer;
}
.user{
    width: 4vw;
    margin-right: 6vmin;
}

#upArrow{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 16px solid #2b2b2bd7;
    position: absolute;
    right: 10%;
    bottom: 100%;
}

.small__layout{
    position: absolute;
    top: 96%;
    right: 2.9vw;
    width: 200px;
    height: 180px;
    /* border: 1px solid red; */
    background-color: #2b2b2bd7;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
}
#profile__icon{
    cursor: pointer;
}
#profile{
    /* background-color: tomato; */
    padding-top: 10px;
    height: 39%;
    width: 100%;
    font-size: 1rem;
}
#profile__icon > img:hover{
    transform: scale(1.2);
}
#profile__img, #profile__icon{
    margin: 0 8px 0 16px;
    width: 56px;
    height: 56px;
}
#profile__img > img, #profile__icon > img{
    transition: all 0.4s;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
}
#acc__menu{
    font-size: 1.1rem;
    /* background-color: yellowgreen; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
#acc__menu > li{
    margin-left: 20px;
    font-size: 0.9em;
    line-height: 30px;
}

.burger__icon{
    display: none;
}
.burger__icon div{
    background-color: white;
    width: 28px;
    height: 2px;
    margin: 6px;
}


/* ------------------------------ 콘텐츠 ------------------------------- */

/* --------------------- 콘텐츠 > 최상단 영역 --------------------- */

/* 최상단 배경 */
.head__layout{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(43, 43, 43, 1)), url(../image/main.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    position: static;
    top: 0%; */
}

.top__video > video{
    width: 100%;
}

/* 미리보기 및 시작 버튼 위치 */
.start__btn{
    position: absolute;
    bottom: 10%;
    left: 3%;
}

/* 미리보기 버튼 */
.head__layout div button:nth-child(1){
    background: rgb(12, 12, 12);
    color: white;
}

/* 버튼 기본설정 */
.head__layout div button{
    width: 8vmax;
    height: 3vmax;
    transition: all 0.3s linear;
    font-size: 1.4vmax;
    font-weight: bold;
    border: 0;
    border-radius: 0.4vw;
    margin-right: 0.6vw;
    cursor: pointer;
}
.head__layout div button:hover{
    transform: scale(1.2);
}


/* ----------------------- 콘텐츠 > 각 영역 ----------------------- */

/* 각 섹션 */
.con__layout{
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 4px;
    /* background-color: #161616; */
}

/* 섹션 제목 영역 */
.contentTitle{
    padding-left: 6vmin;
}
.contentTitle > h1{
    font-size: 3rem;
}

/* 영상들(리스트 아이템(li))이 보일 영역 */
.content{
    margin: 3vmax 0 6vmax 0;
    position: relative;
    padding-left: 4vmin;
}

/* 각li */
/* .content li{
    background-color: #141414;
    width: 24vmax;
    height: 28vmax;
    margin: 20px 1vmax;
    border-radius: 10px;
    transition: all 0.2s linear;
    overflow:hidden;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
} */

/* li 내 영상 정보 및 썸네일 설정들 */

.video__item__layout{
    width: 24vmax;
    height: 28vmax;
    margin: 0 1vmax;
    border-radius: 10px;
    transition: all 0.8s;
    overflow:hidden;
    position: relative;
    cursor: pointer;
}

.video__item__layout div{
    position: absolute;
}

.video__infor__layout{
    width: 200%;
    height: 200%;
    background-color: #585858;
    top: -164%;
    left: -164%;
    z-index: 5;
    transition: all 0.8s;
    transform: rotate(-45deg);
    overflow: hidden;
}

.video__infor__summary{
    width: 50%;
    height: 50%;
    transform: rotate(49.45deg);
    position: absolute;
    top: 74.7%;
    left: 23%;
    /* background-color: #4674ff32; */
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.summary__content{
    margin-right: 6%;
    width: 60%;
    height: 80%;
}
.summary__content > h3{
    /* outline: 1px solid red; */
    height: 10%;
}
.summary__content > p:nth-child(2){
    /* outline: 1px solid red; */
    margin: 10% -15%;
    width: 80%;
    height: 30%;
}
.summary__content > p:nth-child(3){
    /* outline: 1px solid red; */
    margin: 10% -15%;
    width: 40%;
    height: 12%;
}

.video__thumb__layout{
    width: 100%;
    height: 100%;
    background-color: rgba(93, 93, 93, 0.5);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video__thumb__layout > img{
    width: 100%;
}

.a{
    width: 100%;
}

.infor__icon__layout{
    width: 10vmax;
    height: 10vmax;
    position: relative;
    /* border: 1px solid red; */
    z-index: 6;
    opacity: 0.25;
    transition: all 0.33s;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    top: -18.6%;
    left: -22%;
}
.infor__icon__layout:hover{
    opacity: 1;
}

.infor__icon{
    width: 2vmax;
    height: 2vmax;
    margin: 8%;
    border: 4px solid white;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    position: absolute;
}
.close__infor__icon{
    width: 2vmax;
    height: 2vmax;
    position: absolute;
    border: 4px solid transparent;
    margin: 8%;
    display: none;
    justify-content: center;
    transform: rotate(45deg);
}

.video__thumb{
    width: 100%;
}

/* 순위 아이콘(?) */
.rank{
    width: 0;
    height: 0;
    border-top: 100px solid #4675ff;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    position: absolute;
    z-index: 8;
    right: 0;
    cursor: default;
}
.rank div{
    position: absolute;
    width: 100px;
    left: -25px;
    top: -80px;
    font-size: 2.1rem;
}

/* 이동 버튼 위치 */
.btn__locate{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; /* 양옆에 배치 */
    align-items: flex-end;
    /* align-items: flex-end;          플랙스 아이템 아래로(아래에?) 정렬 */
    position: absolute;
}

/* 이동 버튼 영역 */
.move__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vmax;
    height: 28vmax;
    z-index: 9;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    border: 0;
    transition: all 0.1s linear;
    cursor: pointer;
    margin-bottom: 6vmax;
}
.move__btn:hover{
    opacity: 100;
}

/* 이동 버튼 화살표 */
.right__arrow{
    margin-left: 0.2vmax;
	border-top: 1.2vmax solid transparent;
	border-bottom: 1.2vmax solid transparent;
    border-left: 2vmax solid white;
    z-index: 10;
}
.left__arrow{
    margin-left: -0.2vmax;
	border-top: 1.2vmax solid transparent;
	border-bottom: 1.2vmax solid transparent;
    border-right: 2vmax solid white;
    z-index: 10;
}


/* ---------------------------영상 영역---------------------------- */
.modal__layout{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    z-index: 99999;
}

/* 모달 내에 영상 재생창 및 영상 정보창 기본 설정 */
#video__player, #infor__content{
    width: 60vw;
    height: 30vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #2b2b2b;
}

/* 영상 iframe 태그 설정 */
#video__player iframe{
    width: 100%;
    height: 100%;
    border: none;
    background-color: black;
}
/* 영상 video 태그 설정 */
#video__player video{
    width: 100%;
    height: 100%;
    background-color: black;
}

#infor__content > h1{
    height: 20%;
}
#infor__content > p{
    height: 50%;
}

/* 나가기 버튼 */
#exit{
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 10%;
    /* border: 1px solid red; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.xbar1, .xbar2{
    position: absolute;
    transform: rotate(45deg);
    width: 0.2vw;
    height: 2vw;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0.2vw;
}
.xbar2{
    transform: rotate(-45deg);
}


/* -------------------------------이벤트 영역------------------------------ */
.event__layout{
    width: 100%;
    height: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 4px;
}

/* -----------------------Footer----------------------- */
footer{
    height: 24vw;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.4vmax;
}
footer ul li:hover{
    color: white;
    cursor: pointer;
}

/* -----------------------media query----------------------- */

/* Laptop S */
@media screen and (max-width: 1024px){
    .nav, .user{
        display: none;
    }
    .burger__icon{
        display: block;
        margin-right: 16px;
    }
    .search__bar{
        height: 2.6vw;
        border-radius: 6px;
    }
    .logo{
        width: 24vw;
        margin: 12px 16px;
        margin-left: 16px;
    }
    .head__layout{
        height: 60vw;
    }
}

/* Tablet */
@media screen and (max-width: 768px){
    .search__bar{
        height: 3vw;
        border-radius: 6px;
    }
    .logo{
        width: 24vw;
        margin: 12px 16px;
        margin-left: 20px;
    }
}

/* Mobile */
@media screen and (max-width: 425px){
    .logo{
        display: none;
    }
    header{
        height: 50px;
    }
    .head__layout{
        height: 120vw;
    }
}